// @import "../node_modules/bootstrap/scss/bootstrap";
// @import "../node_modules/bootstrap/scss/functions";
// @import "../node_modules/bootstrap/scss/variables";
// @import "../node_modules/bootstrap/scss/mixins";
// @import "../node_modules/bootstrap/scss/root";
// @import "../node_modules/bootstrap/scss/reboot";
// @import "../node_modules/bootstrap/scss/type";
// @import "../node_modules/bootstrap/scss/images";
// @import "../node_modules/bootstrap/scss/containers";
// @import "../node_modules/bootstrap/scss/grid";

@import "../node_modules/bootstrap/scss/*";

// CUSTOM
$theme-colors:
(
    $primary: $indigo
);


@media print
{
    .CodeMirror-gutter, 
    .CodeMirror-gutters, 
    .CodeMirror-gutter-wrapper, 
    .CodeMirror-linenumber,
    .CodeMirror-linenumbers,
    .CodeMirror-gutter-elt
    {
        display: none !important;
    }

    .CodeMirror-sizer
    {
        margin: 0px !important;
        width: 100% !important;
        border: none !important;
    }
    .Codemirror-scroll
    {
        width: 100% !important;
        margin: 2cm;
    }
    
    .noPrint
    {
        display: none;
    }

    img
    {
        width: 95% !important;
        margin: 4px !important;
    }
}

