<%- include('splash') %>

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Viewport -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/public/print.css" type="text/css" media="print">

        <!-- JQuery -->
        <script src="/public/jquery-3.6.0.min.js"></script>
        
        <!-- Bootstrap -->
        <script src="/public/bootstrap-5.0.0-beta1-dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/public/bootstrap-5.0.0-beta1-dist/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        
        <!-- FontAwesome -->
        <script src="https://kit.fontawesome.com/c0fad50d4f.js" crossorigin="anonymous"></script>

        <!-- Hyper MD -->

        <link rel="stylesheet" href="/public/CodeMirror/lib/codemirror.css">
        <link rel="stylesheet" href="/public/CodeMirror/theme/monokai.css">
        <link rel="stylesheet" href="/public/CodeMirror/addon/fold/foldgutter.css">

        <script src="/public/CodeMirror/lib/codemirror.js"></script>

        <script src="/public/CodeMirror/addon/fold/foldcode.js"></script>
        <script src="/public/CodeMirror/addon/fold/foldgutter.js"></script>
        <script src="/public/CodeMirror/addon/fold/markdown-fold.js"></script>

        <script src="/public/CodeMirror/addon/mode/overlay.js"></script>
        <script src="/public/CodeMirror/mode/meta.js"></script>
        <script src="/public/CodeMirror/mode/markdown/markdown.js"></script>

        <script src="/public/CodeMirror/mode/xml/xml.js"></script>
        <script src="/public/CodeMirror/mode/stex/stex.js"></script>
        <script src="/public/CodeMirror/mode/yaml/yaml.js"></script>

        <script src="/public/CodeMirror/mode/javascript/javascript.js"></script>

        <link rel="stylesheet" href="/public/HyperMD/mode/hypermd.css">
        <link rel="stylesheet" href="/public/HyperMD/theme/hypermd-light.css">

        <script src="/public/HyperMD/ai1.js"></script>
        <script src="/public/HyperMD/addon/table-align.js"></script>

        <!-- Title -->
        <title>MarkNote | Demo</title>

        <style>
            #logo
            {
                width: 25px;
            }
            #save_button
            {
                z-index: 2;
                position: fixed;
                bottom: 32px;
                right: 12px;
            }
        </style>
        <script>
            

            $(document).ready(function()
            {
                async function showToast(type, data)
                {
                    // Reset all
                    $("#toast_success").attr('hidden', true);
                    $("#toast_warning").attr('hidden', true);
                    $("#toast_danger").attr('hidden', true);

                    $(".toast_message").text(data);

                    if(type == 'success')
                    {
                        $("#toast_success").attr('hidden', false);
                        toastList[0].show();
                        
                    }
                    else if(type == 'warning')
                    {
                        $("#toast_warning").attr('hidden', false);
                        toastList[1].show();

                    }
                    else if(type == 'danger')
                    {
                        $("#toast_danger").attr('hidden', false);
                        toastList[2].show();
                    }
                    
                    
                    
                }
                $(window).bind('keydown', function(event) 
                {
                    if (event.ctrlKey || event.metaKey) {
                        switch (String.fromCharCode(event.which).toLowerCase()) {
                        case 's':
                            event.preventDefault();
                            save();
                            break;
                        case 'f':
                            event.preventDefault();
                            break;
                        case 'o':
                            event.preventDefault();
                            createPicker();
                            break;
                        case 'g':
                            event.preventDefault();
                            break;
                        }
                    }
                    if(event.altKey && String.fromCharCode(event.which).toLowerCase() == 'n')
                    {
                        createNewFilePicker();
                    }
                    if(event.altKey && String.fromCharCode(event.which).toLowerCase() == 's')
                    {
                        save();
                    }
                    if(event.altKey && String.fromCharCode(event.which).toLowerCase() == 'o')
                    {
                        createPicker();
                    }
                });

                window.createNewFilePicker = function()
                {
                    showToast('warning', 'Creating a New File Is Disabled in Demo Mode');
                }
                window.createPicker = function()
                {
                    showToast('warning', 'Opening a File in Demo Mode is Disabled');
                }

                function print()
                {
                    if(is_chrome)
                    {
                        window.print();
                        setTimeout(function() {window.close();}, 10000);
                    }
                    else
                    {
                        window.print();
                        window.close();
                    }
                }

                window.save = function()
                {
                    showToast('warning', 'Saving is Disabled in Demo Mode');
                }

                var myTextArea = document.getElementById('editor');
                editor = HyperMD.fromTextArea(myTextArea, {
                    hmdModeLoader: "/public/CodeMirror/",
                });

                editor.setSize(null, "100%");
                editor.focus();

                // Bootstrap Toasts
                var option = 
                {
                    animation: true,
                    autohide: true,
                    delay: 2000,
                }

                // Toast Initializer
                toastElList = [].slice.call(document.querySelectorAll('.toast'))
                toastList = toastElList.map(function (toastEl) {
                    return new bootstrap.Toast(toastEl, option)
                });   

            });
        </script>
    </head>
    <body>
        <header class="container-fluid sticky-top noPrint">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary rounded-bottom">
                <div class="container-fluid">
                    <a href="/" class="navbar-brand"><i class="fas fa-home"></i>&nbsp;MarkNote (Demo)</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle Navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                        <ul class="navbar-nav mb-2 mb-lg-0">
                            <li class="nav-item m-1">
                                <button class="btn btn-dark w-100" onclick="window.open('https://github.com/GlennCottam/MarkNote', 'blank')"><i class="fab fa-github"></i>&nbsp;View On Github</button>
                            </li>
                            <li class="nav-item m-1">
                                <button class="w-100 btn bg-success text-white" onclick="window.open('/login', '_parent')"><i class="fas fa-sign-in-alt"></i>&nbsp;Login</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <!-- TOASTY -->
        <div class="noPrint toast-container position-fixed w-100 d-flex justify-content-center" style="z-index: 2000;">
            <div hidden id="toast_success" class="toast align-items-center text-white bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body text-white">
                        <i class="fas fa-check-square"></i>
                        <span class="toast_message"></span>
                    </div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
            <div hidden id="toast_warning" class="toast align-items-center text-white bg-warning border-0" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body text-white">
                        <i class="fas fa-exclamation-triangle"></i>
                        <span class="toast_message"></span>
                    </div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
            <div hidden id="toast_danger" class="toast align-items-center text-white bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body text-white">
                        <i class="fas fa-times-circle"></i>
                        <span class="toast_message"></span>
                    </div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
        </div>
        <div class="container-fluid mt-2">
            <div class="row">
                <!-- FUNCTIONS AND BUTTONS -->
                <div class="noPrint col-lg-4">
                    <div class="row">
                        <div class="input-group p-2">
                            <span class="input-group-text">Filename</span>
                            <input id="FileName" type="text" class="form-control" placeholder="Demo.md">
                            <button onclick="save();" class="btn btn-primary" type="button">Rename</button>
                            
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="btn-group p-0" role="group">
                            <button  class="btn btn-primary text-white w-100" onclick="print();"><i class="fas fa-print"></i>&nbsp;Print</button>
                            <button class="btn btn-success text-white w-100" onclick="createPicker()"><i class="fas fa-folder-open"></i>&nbsp;Open File</button>
                            <button class="btn btn-success text-white w-100" onclick="createNewFilePicker()"><i class="fas fa-edit""></i>&nbsp;New File</button>
                        </div>
                    </div>
                    <div class="row p-2">
                        <a class="btn btn-primary w-100" data-bs-toggle="collapse" href="#Shortcuts" role="button" aria-expanded="false" aria-controls="collapseExample">
                            Toggle Shortcut List
                        </a>
                        <div class="collapse mb-2" id="Shortcuts">
                            <div class="card card-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Shortcut</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><code>ALT / CTRL + S</code></td>
                                            <td>Save</td>
                                        </tr>
                                        <tr>
                                            <td><code>ALT + N</code></td>
                                            <td>New File</td>
                                        </tr>
                                        <tr>
                                            <td><code>ALT / CTRL + O</code></td>
                                            <td>Open File</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row p-2">
                        <a class="btn btn-primary w-100" data-bs-toggle="collapse" href="#CheatSheet" role="button" aria-expanded="false" aria-controls="collapseExample">
                            Toggle Markdown Cheatsheet
                        </a>
                        <div class="collapse mb-2" id="CheatSheet">
                            <div class="card card-body">
                                <table class="table table-bordered">
                                    <thead class="thead-light">
                                      <tr>
                                        <th>Element</th>
                                        <th>Markdown Syntax</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td>Heading</td>
                                        <td><code># H1<br>
                                            ## H2<br>
                                            ### H3</code></td>
                                      </tr>
                                      <tr>
                                        <td>Bold</td>
                                        <td><code>**bold text**</code></td>
                                      </tr>
                                      <tr>
                                        <td>Italic</td>
                                        <td><code>*italicized text*</code></td>
                                      </tr>
                                      <tr>
                                        <td>Blockquote</td>
                                        <td><code>&gt; blockquote</code></td>
                                      </tr>
                                      <tr>
                                        <td>Ordered List</td>
                                        <td><code>
                                          1. First item<br>
                                          2. Second item<br>
                                          3. Third item<br>
                                        </code></td>
                                      </tr>
                                      <tr>
                                        <td>Unordered List</td>
                                        <td>
                                          <code>
                                            - First item<br>
                                            - Second item<br>
                                            - Third item<br>
                                          </code>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>Code</td>
                                        <td><code>`code`</code></td>
                                      </tr>
                                      <tr>
                                        <td>Horizontal Rule</td>
                                        <td><code>---</code></td>
                                      </tr>
                                      <tr>
                                        <td>Link</td>
                                        <td><code>[title](https://www.example.com)</code></td>
                                      </tr>
                                      <tr>
                                        <td>Image</td>
                                        <td><code>![alt text](image.jpg)</code></td>
                                      </tr>
                                      <tr>
                                        <td>Table</td>
                                        <td><code>
                                            | Syntax      | Description |<br>
                                            | ----------- | ----------- |<br>
                                            | Header      | Title       |<br>
                                            | Paragraph   | Text        |
                                        </code></td>
                                      </tr>
                                      <tr>
                                        <td>Fenced Code Block</td>
                                        <td><code>```<br>
                                        {<br>
                                        &nbsp;&nbsp;"firstName": "John",<br>
                                        &nbsp;&nbsp;"lastName": "Smith",<br>
                                        &nbsp;&nbsp;"age": 25<br>
                                        }<br>
                                        ```
                                        </code></td>
                                      </tr>
                                      <tr>
                                        <td>Footnote</td>
                                        <td><code>
                                          Here's a sentence with a footnote. [^1]<br><br>
                                  
                                          [^1]: This is the footnote.
                                        </code></td>
                                      </tr>
                                      <tr>
                                        <td>Heading ID</td>
                                        <td><code>### My Great Heading {#custom-id}</code></td>
                                      </tr>
                                      <tr>
                                        <td>Definition List</td>
                                        <td><code>
                                          term<br>
                                          : definition
                                        </code></td>
                                      </tr>
                                      <tr>
                                        <td>Strikethrough</td>
                                        <td><code>~~The world is flat.~~</code></td>
                                      </tr>
                                      <tr>
                                        <td>Task List</td>
                                        <td><code>
                                          - [x] Write the press release<br>
                                          - [ ] Update the website<br>
                                          - [ ] Contact the media
                                        </code></td>
                                      </tr>
                                    </tbody>
                                  </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- EDITOR -->
                <div class="col-lg">
                    <textarea id="editor" media="print" class="w-100 codemirror-textarea"><%-demo_file%></textarea>
                    <div class="noPrint" id="save_button">
                        <button class="btn btn-primary" type="button" onclick="save();">
                            <i class="fab fa-google-drive"></i> &nbsp; Save &nbsp; <span id="save_spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <%- include('footer') %>
    </body>
</html>