<%- include('splash') %>

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Viewport -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/public/print.css" type="text/css" media="print">

        <!-- JQuery -->
        <script src="/public/jquery-3.6.0.min.js"></script>
        
        <!-- Bootstrap -->
        <script src="/public/bootstrap-5.0.0-beta1-dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/public/bootstrap-5.0.0-beta1-dist/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        
        <!-- FontAwesome -->
        <script src="https://kit.fontawesome.com/c0fad50d4f.js" crossorigin="anonymous"></script>

        <!-- Hyper MD -->

        <link rel="stylesheet" href="/public/CodeMirror/lib/codemirror.css">
        <link rel="stylesheet" href="/public/CodeMirror/theme/monokai.css">
        <link rel="stylesheet" href="/public/CodeMirror/addon/fold/foldgutter.css">

        <script src="/public/CodeMirror/lib/codemirror.js"></script>

        <script src="/public/CodeMirror/addon/fold/foldcode.js"></script>
        <script src="/public/CodeMirror/addon/fold/foldgutter.js"></script>
        <script src="/public/CodeMirror/addon/fold/markdown-fold.js"></script>

        <script src="/public/CodeMirror/addon/mode/overlay.js"></script>
        <script src="/public/CodeMirror/mode/meta.js"></script>
        <script src="/public/CodeMirror/mode/markdown/markdown.js"></script>

        <script src="/public/CodeMirror/mode/xml/xml.js"></script>
        <script src="/public/CodeMirror/mode/stex/stex.js"></script>
        <script src="/public/CodeMirror/mode/yaml/yaml.js"></script>

        <script src="/public/CodeMirror/mode/javascript/javascript.js"></script>

        <link rel="stylesheet" href="/public/HyperMD/mode/hypermd.css">
        <link rel="stylesheet" href="/public/HyperMD/theme/hypermd-light.css">

        <script src="/public/HyperMD/ai1.js"></script>
        <script src="/public/HyperMD/addon/table-align.js"></script>

        <!-- Title -->
        <title>MarkNote | Demo</title>

        <style>
            #logo
            {
                width: 25px;
            }
            #save_button
            {
                z-index: 2;
                position: fixed;
                bottom: 32px;
                right: 12px;
            }

            @media(max-width: 1024px)
            {
                #save_button
                {
                    bottom: 132px;
                }
                #Math_Shortcuts
                {
                    position: fixed !important;
                    bottom: 0px !important;
                    z-index: 10;
                }

                #Math_Shortcuts_Parent
                {
                    padding: 0px !important;
                }
                
            }
        </style>
        <script>
            async function sendClipboard(data)
            {
                if($("#KWrapperCheck").is(':checked'))
                {
                    console.log("Inserting KaTeX Wrapper");
                    await navigator.clipboard.writeText("$$\n" + data + "\n$$");

                }
                else
                {
                    await navigator.clipboard.writeText(data);

                }

                showToast('info', 'Copied to Clipboard!') 
            }

            async function sendClipboardOverride(data)
            {
                await navigator.clipboard.writeText(data);
            }

            $(document).ready(function()
            {
                async function showToast(type, data)
                {
                    // Reset all
                    $("#toast_success").attr('hidden', true);
                    $("#toast_warning").attr('hidden', true);
                    $("#toast_danger").attr('hidden', true);

                    $(".toast_message").text(data);

                    if(type == 'success')
                    {
                        $("#toast_success").attr('hidden', false);
                        toastList[0].show();
                        
                    }
                    else if(type == 'warning')
                    {
                        $("#toast_warning").attr('hidden', false);
                        toastList[1].show();

                    }
                    else if(type == 'danger')
                    {
                        $("#toast_danger").attr('hidden', false);
                        toastList[2].show();
                    }
                    
                    
                    
                }
                $(window).bind('keydown', function(event) 
                {
                    if (event.ctrlKey || event.metaKey) {
                        switch (String.fromCharCode(event.which).toLowerCase()) {
                        case 's':
                            event.preventDefault();
                            save();
                            break;
                        case 'f':
                            event.preventDefault();
                            break;
                        case 'o':
                            event.preventDefault();
                            createPicker();
                            break;
                        case 'g':
                            event.preventDefault();
                            break;
                        }
                    }
                    if(event.altKey && String.fromCharCode(event.which).toLowerCase() == 'n')
                    {
                        createNewFilePicker();
                    }
                    if(event.altKey && String.fromCharCode(event.which).toLowerCase() == 's')
                    {
                        save();
                    }
                    if(event.altKey && String.fromCharCode(event.which).toLowerCase() == 'o')
                    {
                        createPicker();
                    }
                });

                window.createNewFilePicker = function()
                {
                    showToast('warning', 'Creating a New File Is Disabled in Demo Mode');
                }
                window.createPicker = function()
                {
                    showToast('warning', 'Opening a File in Demo Mode is Disabled');
                }

                function print()
                {
                    if(is_chrome)
                    {
                        window.print();
                        setTimeout(function() {window.close();}, 10000);
                    }
                    else
                    {
                        window.print();
                        window.close();
                    }
                }

                window.save = function()
                {
                    showToast('warning', 'Saving is Disabled in Demo Mode');
                }

                var myTextArea = document.getElementById('editor');
                editor = HyperMD.fromTextArea(myTextArea, {
                    hmdModeLoader: "/public/CodeMirror/",
                });

                editor.setSize(null, "100%");
                editor.focus();

                // Bootstrap Toasts
                var option = 
                {
                    animation: true,
                    autohide: true,
                    delay: 2000,
                }

                // Toast Initializer
                toastElList = [].slice.call(document.querySelectorAll('.toast'))
                toastList = toastElList.map(function (toastEl) {
                    return new bootstrap.Toast(toastEl, option)
                });   

            });
        </script>
    </head>
    <body>
        <header class="container-fluid sticky-top noPrint">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary rounded-bottom">
                <div class="container-fluid">
                    <a href="/" class="navbar-brand"><i class="fas fa-home"></i>&nbsp;MarkNote (Demo)</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle Navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                        <ul class="navbar-nav mb-2 mb-lg-0">
                            <li class="nav-item m-1">
                                <button class="btn btn-dark w-100" onclick="window.open('https://github.com/GlennCottam/MarkNote', 'blank')"><i class="fab fa-github"></i>&nbsp;View On Github</button>
                            </li>
                            <li class="nav-item m-1">
                                <button class="w-100 btn bg-success text-white" onclick="window.open('/login', '_parent')"><i class="fas fa-sign-in-alt"></i>&nbsp;Login</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <!-- TOASTY -->
        <div class="noPrint toast-container position-fixed w-100 d-flex justify-content-center" style="z-index: 2000;">
            <div hidden id="toast_success" class="toast align-items-center text-white bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body text-white">
                        <i class="fas fa-check-square"></i>
                        <span class="toast_message"></span>
                    </div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
            <div hidden id="toast_warning" class="toast align-items-center text-white bg-warning border-0" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body text-white">
                        <i class="fas fa-exclamation-triangle"></i>
                        <span class="toast_message"></span>
                    </div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
            <div hidden id="toast_danger" class="toast align-items-center text-white bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body text-white">
                        <i class="fas fa-times-circle"></i>
                        <span class="toast_message"></span>
                    </div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
        </div>
        <div class="container-fluid mt-2">
            <div class="row">
                <!-- FUNCTIONS AND BUTTONS -->
                <div class="noPrint col-lg-4">
                    <div class="row">
                        <div class="input-group p-2">
                            <span class="input-group-text">Filename</span>
                            <input id="FileName" type="text" class="form-control" placeholder="Demo.md">
                            <button onclick="save();" class="btn btn-primary" type="button">Rename</button>
                            
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="btn-group p-0" role="group">
                            <button  class="btn btn-primary text-white w-100" onclick="print();"><i class="fas fa-print"></i>&nbsp;Print</button>
                            <button class="btn btn-success text-white w-100" onclick="createPicker()"><i class="fas fa-folder-open"></i>&nbsp;Open File</button>
                            <button class="btn btn-success text-white w-100" onclick="createNewFilePicker()"><i class="fas fa-edit""></i>&nbsp;New File</button>
                        </div>
                    </div>

                    <!-- Functions and Math Buttons -->
                    <div id="Math_Shortcuts_Parent" class="row p-2">
                        <div id="Math_Shortcuts" class="container-fluid m-0 p-0 pt-2 border rounded-top border-secondary bg-light">
                            <h4 class="text-center">Math Shortcuts</h4>
                            <div class="btn-group p-0 w-100">
                                <a class="btn btn-secondary" data-bs-toggle="collapse" href="#Math_Structures" role="button" aria-expanded="false" aria-controls="multiCollapse">Structures</a>
                                <a class="btn btn-secondary" data-bs-toggle="collapse" href="#Math_Symbols" role="button" aria-expanded="false" aria-controls="multiCollapse">Symbols</a>
                                <a class="btn btn-secondary" data-bs-toggle="collapse" href="#KaTeXSpecific" role="button" aria-expanded="false" aria-controls="multiCollapse">KaTeX</a>
                                
                            </div>
                            

                            <!-- Math Structures -->
                            <div class="collapse p-2 text-white w-100 text-center" id="Math_Structures">

                                <!-- SUPER AND SUBSCRIPTS -->
                                <a class="btn btn-primary w-100" data-bs-toggle="collapse" href="#Sub_Super_Scripts_Area" role="button" aria-controls="Sub_Super_Scripts_Area">
                                    Sub and Superscript
                                </a>
                                
                                <div class="collapse w-100" id="Sub_Super_Scripts_Area">
                                    <!-- SUPERSCRIPT -->
                                    <button type="button" onclick="sendClipboard('b^e')" class="btn m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Superscript">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?b%5Ee">
                                    </button>
                                    <!-- SUBSCRIPT -->
                                    <button type="button" onclick="sendClipboard('b_l');" class="btn m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Subscript" data-copy-text="b_l">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?b_l">
                                    </button>
                                    <!-- SUPER AND SUBSCRIPTS -->
                                    <button type="button" onclick="sendClipboard('b_{l}^{e}');" class="btn m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Super and Subscripts">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?b_%7Bl%7D%5E%7Be%7D">
                                    </button>
                                </div>

                                <!-- Fractions -->
                                <a class="btn btn-primary w-100" data-bs-toggle="collapse" href="#Fractions" role="button" aria-controls="Fractions">
                                    Fractions
                                </a>
                                <div class="collapse w-100" id="Fractions">
                                    <!-- BASIC FRACTION -->
                                    <button type="button" onclick="sendClipboard('\\frac{t}{b}');" class="btn m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Basic Fraction">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?%5Cfrac%7Bt%7D%7Bb%7D">
                                    </button>
                                </div>

                                <!-- Radicals -->
                                <a class="btn btn-primary w-100" data-bs-toggle="collapse" href="#Radicals" role="button" aria-controls="Radicals">
                                    Radicals
                                </a>
                                <div class="collapse w-100" id="Radicals">
                                    <!-- BASIC SQUARE ROOT -->
                                    <button type="button" onclick="sendClipboard('\sqrt{x}');" class="btn m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Basic Squareroot">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?%5Csqrt%7Bx%7D">
                                    </button>

                                    <!-- DEGREE SQUARE ROOT -->
                                    <button type="button" onclick="sendClipboard('\sqrt[i]{x}');" class="btn m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Squareroot of Degree">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?%5Csqrt%5Bi%5D%7Bx%7D">
                                    </button>
                                </div>
                                
                                <!-- MATRICES AND ARRAYS -->
                                <a class="btn btn-primary w-100" data-bs-toggle="collapse" href="#Matrices" role="button" aria-controls="Matrices">
                                    Matrices and Arrays
                                </a>
                                <div class="collapse w-100" id="Matrices">
                                    <!-- Bracketed Matrix -->
                                    <button type="button" onclick="sendClipboard('\\begin{bmatrix}\na & b\\\\ \nc & d\n\\end{bmatrix}');" class="btn m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Bracketed Matrix">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?%5Cbegin%7Bbmatrix%7D%0A%20%20%20a%20%26%20b%20%5C%5C%0A%20%20%20c%20%26%20d%0A%5Cend%7Bbmatrix%7D">
                                    </button>

                                    <!-- Parentheses Matrix -->
                                    <button type="button" onclick="sendClipboard('\\begin{pmatrix}\na & B\\\\\nc & d\n\\end{pmatrix}');" class="btn m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Parentheses Matrix">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?%5Cbegin%7Bpmatrix%7D%0Aa%20%26%20b%5C%5C%20%0Ac%20%26%20d%0A%5Cend%7Bpmatrix%7D">
                                    </button>

                                    <!-- Small Matrix -->
                                    <button type="button" onclick="sendClipboard('\\begin{smallmatrix}\na & B\\\\\nc & d\n\\end{smallmatrix}');" class="btn m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Small Matrix">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?%5Cbegin%7Bsmallmatrix%7D%0A%20%20%20a%20%26%20b%20%5C%5C%0A%20%20%20c%20%26%20d%0A%5Cend%7Bsmallmatrix%7D">
                                    </button>
                                </div>

                                <!-- Summations -->
                                <a class="btn btn-primary w-100" data-bs-toggle="collapse" href="#Summations" role="button" aria-controls="Summations">
                                    Summations
                                </a>
                                <div class="collapse w-100" id="Summations">

                                    <!-- Large Summation -->
                                    <button type="button" class="btn m-0" onclick="sendClipboard('\\displaystyle\\sum_{i=1}^n');" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Large Summation">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?%5Cdisplaystyle%5Csum_%7Bi%3D1%7D%5En">
                                    </button>

                                    <!-- Inline Summation -->
                                    <button type="button" class="btn m-0" onclick="sendClipboard('\\textstyle\\sum_{i=1}^n');" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Inline Summation">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?%5Ctextstyle%5Csum_%7Bi%3D1%7D%5En">
                                    </button>
                                </div>

                                <!-- Trigonometry -->
                                <a class="btn btn-primary w-100" data-bs-toggle="collapse" href="#Trigonometry" role="button" aria-controls="Trigonometry">
                                    Trigonometry
                                </a>
                                <div class="collapse w-100 text-dark" id="Trigonometry">

                                    <!-- Sine -->
                                    <button type="button" class="btn m-0" onclick="sendClipboard('\\sin(x)');" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Sine">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?%5Csin(x)">
                                    </button>

                                    <!-- Cosine -->
                                    <button type="button" class="btn m-0" onclick="sendClipboard('\\cos(x)');" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Cosine">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?%5Ccos(x)">
                                    </button>

                                    <!-- Tangent -->
                                    <button type="button" class="btn m-0" onclick="sendClipboard('\\tan(x)');" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Tangent">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?%5Ctan(x)">
                                    </button>

                                    <!-- Theta -->
                                    <button type="button" class="btn m-0" onclick="sendClipboard('\\Theta');" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Theta">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?%5CTheta">
                                    </button>

                                    <!-- Pi -->
                                    <button type="button" class="btn m-0" onclick="sendClipboard('\\pi');" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Pi">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?%5Cpi">
                                    </button>


                                </div>
                            </div>

                            <!-- Math Symbols -->
                            <div class="collapse p-2 text-white w-100 text-center" id="Math_Symbols">
                                <a class="btn btn-primary w-100" data-bs-toggle="collapse" href="#Relations" role="button" aria-controls="Relations">
                                    Relations
                                </a>
                                <div class="collapse w-100" id="Relations">

                                    <!-- Equal -->
                                    <button type="button" onclick="sendClipboard('=');" class="btn m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Equal">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?%3D">
                                    </button>

                                    <!-- NEQ -->
                                    <button type="button" onclick="sendClipboard('\\neq');" class="btn m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Not Equal">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?%5Cneq">
                                    </button>

                                    <!-- Greater Than -->
                                    <button type="button" onclick="sendClipboard('>');" class="btn m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Greater Than">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?%3E">
                                    </button>

                                    <!-- Greater or Equal Than -->
                                    <button type="button" onclick="sendClipboard('\\ge');" class="btn m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Greater or Equal Than">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?%5Cge">
                                    </button>

                                    <!-- Less Than -->
                                    <button type="button" onclick="sendClipboard('<');" class="btn m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Less Than">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?%3C">
                                    </button>

                                    <!-- Less Or Equal Than -->
                                    <button type="button" onclick="sendClipboard('\\le');" class="btn m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Less or Equal Than">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?%5Cle">
                                    </button>
                                    

                                </div>

                                <!-- Logic  -->
                                <a class="btn btn-primary w-100" data-bs-toggle="collapse" href="#Logic" role="button" aria-controls="Logic">
                                    Logic and Set Theory
                                </a>
                                <div class="collapse w-100" id="Logic">

                                    <!-- Therefore -->
                                    <button type="button" onclick="sendClipboard('\\therefore');" class="btn m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Therefore">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?%5Ctherefore">
                                    </button>

                                    <!-- Because -->
                                    <button type="button" onclick="sendClipboard('\\because');" class="btn m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Because">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?%5Cbecause">
                                    </button>

                                    <!-- Forall -->
                                    <button type="button" onclick="sendClipboard('\\forall');" class="btn m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Forall">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?%5Cforall">
                                    </button>

                                    <!-- Exists -->
                                    <button type="button" onclick="sendClipboard('\\exists');" class="btn m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Exists">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?%5Cexists">
                                    </button>

                                    <!-- Doesn't Exist -->
                                    <button type="button" onclick="sendClipboard('\\nexists');" class="btn m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Doesn't Exist">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?%5Cnexists">
                                    </button>

                                    <!-- In -->
                                    <button type="button" onclick="sendClipboard('\\notin');" class="btn m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Not In">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?%5Cin">
                                    </button>

                                    <!-- Not In -->
                                    <button type="button" onclick="sendClipboard('\\in');" class="btn m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="In">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?%5Cnotin">
                                    </button>

                                    <!-- Subset -->
                                    <button type="button" onclick="sendClipboard('\\subset');" class="btn m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Subset">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?%5Csubset">
                                    </button>

                                    <!-- Superset -->
                                    <button type="button" onclick="sendClipboard('\\supset');" class="btn m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Superset">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?%5Csupset">
                                    </button>

                                     <!-- Implies -->
                                     <button type="button" onclick="sendClipboard('\\implies');" class="btn m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Implies">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?%5Cimplies">
                                    </button>

                                     <!-- Implied By -->
                                     <button type="button" onclick="sendClipboard('\\impliedby');" class="btn m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Implied By">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?%5Cimpliedby">
                                    </button>

                                    <!-- Not -->
                                    <button type="button" onclick="sendClipboard('\\neg');" class="btn m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Not">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?%5Cneg">
                                    </button>

                                </div>

                                <!-- Greek -->
                                <a class="btn btn-primary w-100" data-bs-toggle="collapse" href="#Greek" role="button" aria-controls="Greek">
                                    Greek
                                </a>
                                <div class="collapse w-100" id="Greek">

                                    <!-- Alpha -->
                                    <button type="button" onclick="sendClipboard('\\alpha');" class="btn m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Alpha">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?%5Calpha">
                                    </button>

                                    <!-- Beta -->
                                    <button type="button" onclick="sendClipboard('\\beta');" class="btn m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Beta">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?%5Cbeta">
                                    </button>

                                    <!-- Gamma -->
                                    <button type="button" onclick="sendClipboard('\\gamma');" class="btn m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Gamma">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?%5Cgamma">
                                    </button>

                                    <!-- Delta -->
                                    <button type="button" onclick="sendClipboard('\\delta');" class="btn m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delta">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?%5Cdelta">
                                    </button>

                                    <!-- Epsilon -->
                                    <button type="button" onclick="sendClipboard('\\epsilon');" class="btn m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Epsilon">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?%5Cepsilon">
                                    </button>

                                    <!-- Zeta -->
                                    <button type="button" onclick="sendClipboard('\\zeta');" class="btn m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Zeta">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?%5Czeta">
                                    </button>

                                    <!-- Eta -->
                                    <button type="button" onclick="sendClipboard('\\eta');" class="btn m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Eta">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?%5Ceta">
                                    </button>

                                    <!-- Theta -->
                                    <button type="button" onclick="sendClipboard('\\theta');" class="btn m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Theta">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?%5Ctheta">
                                    </button>

                                    <!-- Iota -->
                                    <button type="button" onclick="sendClipboard('\\iota');" class="btn m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Iota">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?%5Ciota">
                                    </button>

                                    <!-- Kappa -->
                                    <button type="button" onclick="sendClipboard('\\kappa');" class="btn m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Kappa">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?%5Ckappa">
                                    </button>

                                    <!-- Lambda -->
                                    <button type="button" onclick="sendClipboard('\\lambda');" class="btn m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Lambda">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?%5Clambda">
                                    </button>

                                    <!-- Mu -->
                                    <button type="button" onclick="sendClipboard('\\mu');" class="btn m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Mu">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?%5Cmu">
                                    </button>

                                    <!-- Nu -->
                                    <button type="button" onclick="sendClipboard('\\nu');" class="btn m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Nu">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?%5Cnu">
                                    </button>

                                    <!-- Xi -->
                                    <button type="button" onclick="sendClipboard('\\xi');" class="btn m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Xi">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?%5Cxi">
                                    </button>

                                    <!-- Pi -->
                                    <button type="button" onclick="sendClipboard('\\pi');" class="btn m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Pi">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?%5Cpi">
                                    </button>

                                    <!-- Rho -->
                                    <button type="button" onclick="sendClipboard('\\rho');" class="btn m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Rho">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?%5Crho">
                                    </button>

                                    <!-- Sigma -->
                                    <button type="button" onclick="sendClipboard('\\sigma');" class="btn m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Sigma">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?%5Csigma">
                                    </button>

                                    <!-- Tau -->
                                    <button type="button" onclick="sendClipboard('\\tau');" class="btn m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Tau">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?%5Ctau">
                                    </button>

                                    <!-- Upsilon -->
                                    <button type="button" onclick="sendClipboard('\\upsilon');" class="btn m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Upsilon">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?%5Cupsilon">
                                    </button>

                                    <!-- Phi -->
                                    <button type="button" onclick="sendClipboard('\\phi');" class="btn m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Phi">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?%5Cphi">
                                    </button>

                                    <!-- Chi -->
                                    <button type="button" onclick="sendClipboard('\\chi');" class="btn m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Chi">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?%5Cchi">
                                    </button>

                                    <!-- Psi -->
                                    <button type="button" onclick="sendClipboard('\\psi');" class="btn m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Psi">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?%5Cpsi">
                                    </button>

                                    <!-- Omega -->
                                    <button type="button" onclick="sendClipboard('\\omega');" class="btn m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Omega">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?%5Comega">
                                    </button>

                                    <!-- Varepsilon -->
                                    <button type="button" onclick="sendClipboard('\\varepsilon');" class="btn m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Varepsilon">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?%5Cvarepsilon">
                                    </button>

                                    <!-- Varkappa -->
                                    <button type="button" onclick="sendClipboard('\\varkappa');" class="btn m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Varkappa">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?%5Cvarkappa">
                                    </button>

                                    <!-- Vartheta -->
                                    <button type="button" onclick="sendClipboard('\\vartheta');" class="btn m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Vartheta">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?%5Cvartheta">
                                    </button>

                                    <!-- Varpi -->
                                    <button type="button" onclick="sendClipboard('\\varpi');" class="btn m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Varpi">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?%5Cvarpi">
                                    </button>

                                    <!-- Varrho -->
                                    <button type="button" onclick="sendClipboard('\\varrho');" class="btn m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Varrho">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?%5Cvarrho">
                                    </button>

                                    <!-- Varsigma -->
                                    <button type="button" onclick="sendClipboard('\\varsigma');" class="btn m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Varsigma">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?%5Cvarsigma">
                                    </button>

                                    <!-- Varphi -->
                                    <button type="button" onclick="sendClipboard('\\varphi');" class="btn m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Varphi">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?%5Cvarphi">
                                    </button>

                                    <!-- Digamma -->
                                    <button type="button" onclick="sendClipboard('\\digamma');" class="btn m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Digamma">
                                        <img class="hmd-math-dumb" src="https://latex.codecogs.com/gif.latex?%5Cdigamma">
                                    </button>
                                </div>
                            </div>

                            <div class="collapse p-2 text-white w-100 text-center" id="KaTeXSpecific">
                                <!-- Newline -->
                                <button type="button" onclick="sendClipboardOverride('\\newline');" class="btn m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Newline">
                                    New Line
                                </button>

                                <!-- MATH -->
                                <button type="button" onclick="sendClipboardOverride('$$ $$');" class="btn m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Math Tag">
                                    $$ $$
                                </button>
                            </div>

                            <!-- KaTeX Injection Check Box -->
                            <div class="p-2 w-100">
                                <div class="form-check"  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Inserts '$$' before and after the clicked function">
                                    <input class="form-check-input" type="checkbox" value="" id="KWrapperCheck" checked>
                                    <label class="form-check-label" for="KWrapperCheck">
                                        Include KaTeX Wrapper
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="row p-2">
                        <a class="btn btn-primary w-100" data-bs-toggle="collapse" href="#Shortcuts" role="button" aria-expanded="false" aria-controls="collapseExample">
                            Toggle Shortcut List
                        </a>
                        <div class="collapse mb-2" id="Shortcuts">
                            <div class="card card-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Shortcut</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><code>ALT / CTRL + S</code></td>
                                            <td>Save</td>
                                        </tr>
                                        <tr>
                                            <td><code>ALT + N</code></td>
                                            <td>New File</td>
                                        </tr>
                                        <tr>
                                            <td><code>ALT / CTRL + O</code></td>
                                            <td>Open File</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row p-2">
                        <a class="btn btn-primary w-100" data-bs-toggle="collapse" href="#CheatSheet" role="button" aria-expanded="false" aria-controls="collapseExample">
                            Toggle Markdown Cheatsheet
                        </a>
                        <div class="collapse mb-2" id="CheatSheet">
                            <div class="card card-body">
                                <table class="table table-bordered">
                                    <thead class="thead-light">
                                      <tr>
                                        <th>Element</th>
                                        <th>Markdown Syntax</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td>Heading</td>
                                        <td><code># H1<br>
                                            ## H2<br>
                                            ### H3</code></td>
                                      </tr>
                                      <tr>
                                        <td>Bold</td>
                                        <td><code>**bold text**</code></td>
                                      </tr>
                                      <tr>
                                        <td>Italic</td>
                                        <td><code>*italicized text*</code></td>
                                      </tr>
                                      <tr>
                                        <td>Blockquote</td>
                                        <td><code>&gt; blockquote</code></td>
                                      </tr>
                                      <tr>
                                        <td>Ordered List</td>
                                        <td><code>
                                          1. First item<br>
                                          2. Second item<br>
                                          3. Third item<br>
                                        </code></td>
                                      </tr>
                                      <tr>
                                        <td>Unordered List</td>
                                        <td>
                                          <code>
                                            - First item<br>
                                            - Second item<br>
                                            - Third item<br>
                                          </code>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>Code</td>
                                        <td><code>`code`</code></td>
                                      </tr>
                                      <tr>
                                        <td>Horizontal Rule</td>
                                        <td><code>---</code></td>
                                      </tr>
                                      <tr>
                                        <td>Link</td>
                                        <td><code>[title](https://www.example.com)</code></td>
                                      </tr>
                                      <tr>
                                        <td>Image</td>
                                        <td><code>![alt text](image.jpg)</code></td>
                                      </tr>
                                      <tr>
                                        <td>Table</td>
                                        <td><code>
                                            | Syntax      | Description |<br>
                                            | ----------- | ----------- |<br>
                                            | Header      | Title       |<br>
                                            | Paragraph   | Text        |
                                        </code></td>
                                      </tr>
                                      <tr>
                                        <td>Fenced Code Block</td>
                                        <td><code>```<br>
                                        {<br>
                                        &nbsp;&nbsp;"firstName": "John",<br>
                                        &nbsp;&nbsp;"lastName": "Smith",<br>
                                        &nbsp;&nbsp;"age": 25<br>
                                        }<br>
                                        ```
                                        </code></td>
                                      </tr>
                                      <tr>
                                        <td>Footnote</td>
                                        <td><code>
                                          Here's a sentence with a footnote. [^1]<br><br>
                                  
                                          [^1]: This is the footnote.
                                        </code></td>
                                      </tr>
                                      <tr>
                                        <td>Heading ID</td>
                                        <td><code>### My Great Heading {#custom-id}</code></td>
                                      </tr>
                                      <tr>
                                        <td>Definition List</td>
                                        <td><code>
                                          term<br>
                                          : definition
                                        </code></td>
                                      </tr>
                                      <tr>
                                        <td>Strikethrough</td>
                                        <td><code>~~The world is flat.~~</code></td>
                                      </tr>
                                      <tr>
                                        <td>Task List</td>
                                        <td><code>
                                          - [x] Write the press release<br>
                                          - [ ] Update the website<br>
                                          - [ ] Contact the media
                                        </code></td>
                                      </tr>
                                    </tbody>
                                  </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- EDITOR -->
                <div class="col-lg">
                    <textarea id="editor" media="print" class="w-100 codemirror-textarea"><%-demo_file%></textarea>
                    <div class="noPrint" id="save_button">
                        <button class="btn btn-primary" type="button" onclick="save();">
                            <i class="fab fa-google-drive"></i> &nbsp; Save &nbsp; <span id="save_spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <%- include('footer') %>
    </body>
</html>