<header>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <h1 class="navbar-brand">MarkNote</h1>
            <div>
                <button class="btn btn-primary" onclick="window.open('/', '_parent')">Home</button>
                <button class="btn btn-primary" onclick="window.open('https://github.com/GlennCottam/MarkNote', 'blank')"></i>&nbsp;View On Github</button>
                <% if(user) {%>
                    <!-- <p class="text-white"><%= user.id %></p> -->
                    <button class="btn bg-success text-white" onclick="window.open('/editor', '_parent')">Editor</button>
                    <button class="btn bg-danger text-white" onclick="window.open('/logout', '_parent')">Logout</button>
                
                <% } else { %>
                    <button class="btn bg-success text-white" onclick="window.open('/login', '_parent')">Login</button>
                <% }%>

            </div>
        </div>
    </nav>
</header>