<header>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <h1 class="navbar-brand">MarkNote</h1>
            <div>
                <button class="btn btn-primary" onclick="window.open('/', '_parent')">Home</button>
                <button class="btn btn-primary" onclick="window.open('https://github.com/GlennCottam/MarkNote', 'blank')"></i>&nbsp;View On Github</button>
                <button class="btn bg-primary text-white" onclick="window.open('<%=login_url%>', '_blank')">Login</button>
            </div>
        </div>
    </nav>
</header>