<%- include('splash') %>


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="bootstrap-5.0.0-beta1-dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="bootstrap-5.0.0-beta1-dist/css/bootstrap.min.css">
        <script src="https://kit.fontawesome.com/c0fad50d4f.js" crossorigin="anonymous"></script>
        <!-- App Manifest -->
        <link rel="manifest" href="manifest.json" crossorigin="use-credentials">
        <title>MarkNote | Home</title>
    </head>
    <body class="bg-dark text-light">
        <%- include('header') %>
        <div class="container-fluid" id="main">
            <div class="row mt-4">
                <div class="col text-center" id="title">
                    <h1>MarkNote</h1>
                    <h2>Your destination for markdown document writing.</h2>
                </div>
            </div>
            <div class="row mt-4 border-bottom">
                <div class="col text-center">
                    <p><span class="badge bg-warning">Warning!</span> &nbsp; This Application is still in development. Please checkout the github page for more information.</p>
                </div>
            </div>
            <div class="row mt-4">
                <img src="images/MarkNote - Editor.png" alt="Editor" class="img-fluid mx-auto rounded" style="max-width: 1054px;">
            </div>
            <div class="row mt-4">
                <div class="col-sm p-4">
                    <h4>Create notes, documents, and more directly inside your Google Drive</h4>
                    <ul>
                        <li>Easy to use file picker to select your markdown files inside Drive!</li>
                        <li>MarkNote allows quick and easy insertion of code snippts!</li>
                    </ul>
                    <hr>
                    <h4>Use Shortcuts in the editor!</h4>
                    <p>Due to limitations in browser, I have opted for using the alt key. However, most shortcuts still work with control!</p>
                    <table class="table table-dark table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Shortcut</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><code>ALT / CTRL + S</code></td>
                                <td>Save</td>
                            </tr>
                            <tr>
                                <td><code>ALT + N</code></td>
                                <td>New File</td>
                            </tr>
                            <tr>
                                <td><code>ALT / CTRL + O</code></td>
                                <td>Open File</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm p-4">
                    <div class="clearfix">
                        <h4>Many awesome features included!</h4>
                        <img src="images/MarkNote - Editor - Mobile.png" alt="Mobile Friendly!" class="img-fluid col-md-6 float-md-end mb-3 ms-md-3">

                        <ul>
                            <li>Mobile Friendly!</li>
                            <li>Live Preview</li>
                            <li>Mobile / Desktop / Tablet Support</li>
                            <li>Internal File Management</li>
                            <li>Quick and easy editing</li>
                            <li>Free!</li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row mt-4">
                <div class="col-sm p-4">
                    <h4><a href="https://github.com/sparksuite/simplemde-markdown-editor"><i class="fab fa-github"></i>&nbsp;SimpleMDE</a></h4>
                    <p>MarkNote uses SimpleMDE which is a markdown editor that comes with many functions built in!</p>
                    <p>Check it out on github!</p>
                </div>
            </div>
        </div>
        <%- include('footer') %>
    </body>
</html>