<%- include('splash') %>


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="bootstrap-5.0.0-beta1-dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="bootstrap-5.0.0-beta1-dist/css/bootstrap.min.css">
        <script src="https://kit.fontawesome.com/c0fad50d4f.js" crossorigin="anonymous"></script>
        <!-- App Manifest -->
        <link rel="manifest" href="manifest.json" crossorigin="use-credentials">
        <title>MarkNote | Home</title>
    </head>
    <body class="bg-dark text-light">
        <%- include('header') %>
        <div class="container-fluid" id="main">
            <div class="row mt-4">
                <div class="col text-center" id="title">
                    <h1>MarkNote</h1>
                    <h2>Your destination for markdown document writing.</h2>
                </div>
            </div>
            <div class="row mt-4 border-bottom">
                <div class="col text-center">
                    <p><span class="badge bg-warning">Warning!</span> &nbsp; This Application is still in development. Please checkout the github page for more information.</p>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-sm p-4">
                    <h4>Create notes, documents, and more directly inside your Google Drive</h4>
                    <ul>
                        <li>Easy to use file picker to select your markdown files inside Drive!</li>
                        <li>Marknote allows quick and easy insertion of code snippts!</li>
                    </ul>
                </div>
                <div class="col-sm p-4">
                    <h4>Many features including markdown preview, Mobile and Desktop support, and file management</h4>
                    <ul>
                        <li>Mobile Friendly!</li>
                        <li>Quick and easy editing</li>
                        <li>Constantly being updated!</li>
                    </ul>
                </div>
            </div>
        </div>
        <%- include('footer') %>
    </body>
</html>