<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="bootstrap-5.0.0-beta1-dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="bootstrap-5.0.0-beta1-dist/css/bootstrap.min.css">
        <title>MarkNote</title>
    </head>
    <body class="bg-dark">
        <header class="container bg-light rounded-bottom">
            <h1>MarkNote</h1>
            <button class="btn bg-primary text-white" onclick="window.location.href='<%=login_url%>'">Login Test</button>
        </header>
    </body>
</html>