@media print
{
    /* @page
    {
        margin: 2cm;
    } */

    /* .HyperMD-header-1
    {
        page-break-after: avoid;
        page-break-inside: avoid;
        page-break-before: initial;
    }

    p
    {
        page-break-inside: avoid;
    }

    */


    /* .CodeMirror-lines
    {
        position: absolute !important;
        top: 0px !important;
        left: 0px !important;
        width: 100% !important;
        z-index: 9999 !important;

        background-color: #FFFFFF !important;
    } */

    /*

    .CodeMirror-code
    {
        background-color: #FFFFFF !important;
    } 
    
    */


    .CodeMirror-gutter, 
    .CodeMirror-gutters, 
    .CodeMirror-gutter-wrapper, 
    .CodeMirror-linenumber,
    .CodeMirror-linenumbers,
    .CodeMirror-gutter-elt
    {
        display: none !important;
    }

    .CodeMirror-sizer
    {
        margin: 0px !important;
        width: 100% !important;
        border: none !important;
    }
    .Codemirror-scroll
    {
        width: 100% !important;
        margin: 2cm;
    }
    
    .noPrint
    {
        display: none;
    }

    img
    {
        width: 95% !important;
        margin: 4px !important;
        /* margin: 2cm !important; */
    }

}

