@media print
{
    .CodeMirror-gutter, 
    .CodeMirror-gutters, 
    .CodeMirror-gutter-wrapper, 
    .CodeMirror-linenumber,
    .CodeMirror-linenumbers,
    .CodeMirror-gutter-elt
    {
        display: none !important;
    }

    .CodeMirror-sizer
    {
        margin: 0px !important;
        width: 100% !important;
        border: none !important;
    }
    .Codemirror-scroll
    {
        width: 100% !important;
        margin: 2cm;
    }
    
    .noPrint
    {
        display: none;
    }

    img
    {
        max-width: 95% !important;
        margin: 4px !important;
    }
}

